.box.relative {
    position: relative;
}
.card-href {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
}
body {
    min-height: 100vh;
}
.card-image img {
    max-height: 500px;
    object-fit: contain;
}
.profile-image img {
    max-height: 150px;
    object-fit: contain;
}